<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      &nbsp;&nbsp; SignUp/Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div class="circle-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>

  <div class="logo">
    <ion-img src="assets/trucklogo.jpeg"></ion-img>
  </div>

  <h1 style="color:#f58e26; margin-left: 1rem;">Login/SignUp</h1>
  <form >
    &nbsp;&nbsp;<ion-label>Enter Your WhatsApp Mobile Number</ion-label><br><br>

    <!-- <ion-item class="ion-margin">
      <ion-input type="text" clearInput="true" placeholder="Enter Mobile Number" [(ngModel)]="phoneNumber" min="10"
        [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item> -->

    <ion-item>
     
      <ion-input type="tel" placeholder="Enter mobile number"></ion-input>
      <ion-select slot="start" interface="popover"   value="+91">
        <ion-select-option value="+1">+1</ion-select-option>
        <ion-select-option value="+44">+44</ion-select-option>
        <ion-select-option value="+91">+91</ion-select-option>
      </ion-select>
    </ion-item>
    &nbsp;
    <h4 style="text-align: center;">Don't have an account ?<u style="color: blue;">SignUp</u></h4>



    <div id="sign-in-button"></div>

  </form>




</ion-content>

<div class="container">
<div class="form-group form-check ">
  <input type="checkbox" class="form-check-input" id="exampleCheck1"  style="margin-left: 0.5rem;">
  <label class="form-check-label" for="exampleCheck1" style="margin-left: 2rem;"> By Signing up,you accept our<u>T&C</u>and privacy policy</label>
</div>
</div>
<br>
  <ion-button class="btn" color="#a13cd7;" [disabled]="phoneNumber == null" (click)="getOTP()" expand="full">Generate
    OTP</ion-button>
   